@import '../../../theme.scss'; // Adjust the path to where your variables are defined

.weekly-planner {
  background-color: $background-color;

  // Sticky header container
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: $background-color-lightest; // Updated header background color
  }

  // Day header styling
  .day-header {
    padding: 10px;
    border: 1px solid $background-color-light;
    color: $primary-fg-color-light;
    text-align: center;
  }

  // Time column styling
  .time-column {
    background-color: $background-color-lighter;
    padding: 0;
    .time-slot {
      font-size: 0.75rem;
      padding: 2px 5px;
      color: $primary-fg-color-light;
      border-bottom: 1px solid $background-color-light;
    }
  }

  // Day columns styling
  .day-column {
    .time-cell {
      border: 1px solid $background-color-light;
      height: 20px;
      position: relative;
      &:hover {
        background-color: $background-color-light;
        box-shadow: $shadow-light;
      }
    }
  }

  // Highlight style for hovered day header and time slot
  .highlighted {
    color: #fff !important;
  }
}
