<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<div class="container-fluid weekly-planner">
  <!-- Sticky header container -->
  <div class="sticky-header">
    <div class="row">
      <div class="col-1"></div>
      <!-- Empty cell for top-left corner -->
      <div
        *ngFor="let day of days; let dayIndex = index"
        class="col day-header border"
        [ngClass]="{ highlighted: hoveredDayIndex === dayIndex }"
      >
        {{ day }}
      </div>
    </div>
  </div>

  <!-- Planner grid -->
  <div class="row">
    <!-- Time column on the left -->
    <div class="col-1 time-column border">
      <div
        *ngFor="let time of timeSlots; let timeIndex = index"
        class="time-slot"
        [ngClass]="{ highlighted: hoveredTimeIndex === timeIndex }"
      >
        {{ time }}
      </div>
    </div>

    <!-- Columns for each day -->
    <div *ngFor="let day of days; let dayIndex = index" class="col px-1">
      <!-- Inside your day-column div -->
      <div class="day-column">
        <!-- Events FIRST in DOM -->
        <div
          *ngFor="let event of plannerService.getEventsForDay(day)"
          class="event d-flex px-1"
          [ngStyle]="plannerService.getEventStyles(event)"
        >
          <div class="w-100 d-flex justify-content-center pt-1">
            {{ event.text }}
          </div>
          <div class="w-100 d-flex justify-content-center pt-1">
            <span>{{ event.startTime }} - {{ event.endTime }}</span>
          </div>
        </div>

        <!-- Time cells AFTER events -->
        <div
          *ngFor="let time of timeSlots; let timeIndex = index"
          class="time-cell"
          (mouseover)="setHover(dayIndex, timeIndex)"
          (mouseleave)="clearHover()"
        ></div>
      </div>
    </div>
  </div>
</div>
