@import "gridstack/dist/gridstack.min.css";
@import "gridstack/dist/gridstack-extra.min.css";

.grid-stack {
  background: #fafad2;
}
.grid-stack-item-content {
  text-align: center;
  background-color: #18bc9c;
}
