@import '../../../theme.scss';

:host ::ng-deep .grid-stack {
  border: 1px solid #ccc;
  margin: 20px;
  min-height: 800px;
}

:host ::ng-deep .grid-stack-item {
  background-color: $background-color-lightest;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:host ::ng-deep .grid-stack-item-content {
  padding: 20px;
  text-align: center;
}

:host ::ng-deep .controls {
  padding: 20px;
  display: flex;
  gap: 10px;
}
